
// dark mode
$dark-blue-1: hsl(209, 23%, 22%); // elements
$dark-blue-2: hsl(207, 26%, 17%); // background

// light mode
$dark-blue-3: hsl(200, 15%, 8%); // text
$dark-gray: hsl(0, 0%, 52%); // input
$light-gray: hsl(0, 0%, 98%); // background
