p {
  font-size: 0.875rem;
}

.search {
  display: flex;
  justify-content: space-between;
  margin: 21px 0;
}

.input {
  position: relative;
  display: flex;
  align-items: center;

  label {
    position: absolute;
    left: 14px;
    line-height: 1;
  }

  input[type=search] {
    color: inherit;
    background: none;
    border: none;
    outline: none;

    &::-webkit-search-decoration,
    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }

    & + label {
      cursor: text;
      transform-origin: left;
      transition: transform 0.2s;
    }

    &:focus + label, &:valid + label {
      transform: scale(0.75) translateY(-150%);
    }
  }
}

#countries {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
